<!DOCTYPE html>
<html lang="en">
<head>
  <title>#{config.project}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> 

<div class="container">
  <h2>GRM Express</h2>
  <div class="well">
    <p>Projeto: <b>#{config.project}</b></p>
    <p>Database: <b>#{config.database}</b></p>
    <p>Port: <b>#{config.port}</b></p>
    <p>Developer: <b>#{config.developer.name}</b></p>
  </div>
</div>

</body>
</html>